<phpunit colors="false" bootstrap="./Tests/bootstrap.php">
    <filter>
        <blacklist>
            <directory suffix=".php">./Tests</directory>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filter>

    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">Tests</directory>                    
            
        </testsuite> 
        <testsuite name="ui" bootstrap="./UITests/bootstrap.php">
            <directory>UItests</directory>
        </testsuite>       
    </testsuites>
</phpunit>
